html,body,nav,header,article,aside,footer{color:var(--fg);background-color:var(--bg);}
header {color:var(--header-fg);background-color:var(--header-bg);}
header > p {color:var(--header-fg);background-color:var(--header-bg);} 
nav {color:var(--nav-fg);background-color:var(--nav-bg);}
article {color:var(--article-fg);background-color:var(--article-bg);} 
article {a:var(--article-a);} 
aside {color:var(--sidebar-fg);background-color:var(--sidebar-bg);}
footer {color:var(--footer-fg);background-color:var(--footer-bg);}
article > h1{color:var(--article-h1-fg);background-color:var(--article-h1-bg);} 
article > h2{color:var(--article-h2-fg);background-color:var(--article-h2-bg);}
article > h3{color:var(--article-h3-fg);background-color:var(--article-h3-bg);}
article > h4{color:var(--article-h4-fg);background-color:var(--article-h4-bg);}
article > h5{color:var(--article-h5-fg);background-color:var(--article-h5-bg);}
article > h6{color:var(--article-h6-fg);background-color:var(--article-h6-bg);}
article > h1{font-size:var(--h1-font-size);padding-top:var(--h1-padding-top);padding-bottom:var(--h1-padding-bottom);margin-top:var(--h1-margin-top);margin-bottom:var(--h1-margin-bottom);}
article > h2{font-size:var(--h2-font-size);padding-top:var(--h2-padding-top);padding-bottom:var(--h2-padding-bottom);margin-top:var(--h2-margin-top);margin-bottom:var(--h2-margin-bottom);}
article > h3{font-size:var(--h3-font-size);padding-top:var(--h3-padding-top);padding-bottom:var(--h3-padding-bottom);margin-top:var(--h3-margin-top);margin-bottom:var(--h3-margin-bottom);}
article > h4{font-size:var(--h4-font-size);padding-top:var(--h4-padding-top);padding-bottom:var(--h4-padding-bottom);margin-top:var(--h4-margin-top);margin-bottom:var(--h4-margin-bottom);}
article > h5{font-size:var(--h5-font-size);padding-top:var(--h5-padding-top);padding-bottom:var(--h5-padding-bottom);margin-top:var(--h5-margin-top);margin-bottom:var(--h5-margin-bottom);}
article > h6{font-size:var(--h6-font-size);padding-top:var(--h6-padding-top);padding-bottom:var(--h6-padding-bottom);margin-top:var(--h6-margin-top);margin-bottom:var(--h6-margin-bottom);}
article {margin-top:var(--article-margin-top);margin-bottom:var(--article-margin-bottom);padding-top:var(--article-padding-top);padding-bottom:var(--article-padding-bottom);}

 
