:root 
{

	/* Maximum characters on a line in an article. 
	 * Has no effect on the width of the column itself. */
	--article-width:100%; 
  --alt-article-width:80%;

	/* Widest the sidebar should be */
	--sidebar-width:20%;    

	/* Making these larger than 0 and --article-width < 100% creates
	 * a pillar theme, or one that doesn't stretch the header
	 * and footer all the way across the page.
	 * When --article-width is 100% these should be at 0.
	 * When --article-width is less than 100% then these
	 * two should add up to the difference. */
	--left-margin:0%;
	--right-margin:0%;

	/* Starting point from left where text (and by default headers) appears */
	--text-start:2.5%;
	--text-end:2.5%;

	/* Adjusts header height and keeps it vertically centered */
	--header-height:8rem;

	/* Size of the main text in the header. */
	--branding-height:4rem;

	/* Adjusts navbar height and keeps it vertically centered */
	--nav-height:5rem;

}

 
