html,body,nav,header,article,footer{float:left;clear:both;overflow:auto;}

/* ****************************/
/*  HEADER BRANDING AND LINKS */
/* ****************************/

header {width:var(--header-footer-width);} 
header {margin-top:var(--header-margin-top);padding-bottom:var(--header-margin-bottom);} header {padding-top:var(--header-padding-top);padding-bottom:var(--header-padding-bottom);}
header {padding-left:var(--text-start);padding-right:var(--header-padding-right);}
/* Prevent word wrap. Looks bad on smaller screens. */
header {white-space:nowrap;}
header {width:var(--header-footer-width);}
/* Blank space on each side of client area */
header {margin-right:var(--right-margin);margin-left:var(--left-margin);}




/* ******************************/
/*  NAVBAR                      */
/* ******************************/
nav {margin-top:var(--nav-margin-top);margin-bottom:var(--nav-margin-bottom);}
nav {padding-top:var(--nav-padding-top);padding-bottom:var(--nav-padding-bottom);}
nav {padding-left:var(--text-start);}
nav {height:var(--nav-height);width:var(--header-footer-width);}
nav {margin-right:var(--right-margin);margin-left:var(--left-margin);}
/* Prevent word wrap. Looks bad on smaller screens. */
nav {white-space:nowrap;}



/*
 * --------------------------------------------------
 * Simplest case: a single item. Don't even need to
 * make it a bullet.
 * --------------------------------------------------
 */


/* ******************************/
/*  ARTICLE-MAIN PORTION OF TEXT*/
/* ******************************/

article {padding-right:var(--article-pad-text-end);}

/* ******************************/
/*  SIDEBAR (ASIDE TAG)         */
/* ******************************/

aside {height:100vh;}
aside{float:left;}


/* ******************************/
/*  FOOTER                      */
/* ******************************/

footer {width:var(--header-footer-width);} 
 

