/* Put sidebar on the right side of the page. Article area floats to the left. */
:root 
{
  --article-column-width:80%;
  --alt-article-column-width:60%;
  --sidebar-width:20%;

}
article {width:var(--alt-article-column-width);}
article{margin-right:0;}
/*aside{margin-left:var(--left-margin);padding-right:2em;padding-left:2em;} */

article, aside {float:left}

