<!doctype html>
<html lang='en'> 
<head>
  <meta charset='utf-8'>
  <title>Metabuzz</title>
</head> 
<body>
  {{template "header" .}}
  <h1>Body goes here</h1>
  {{template "footer" .}}
</body> 
</html>
