table > thead > tr > th  {margin-top:4rem;}
blockquote {font-style:italic;margin: 2rem 2rem 2rem 2rem;}


/* ****************************/
/*  HEADER BRANDING AND LINKS */
/* ****************************/

/*
 * --------------------------------------------------
 * Colors are set in theme-light.css & theme-dark.css
 * --------------------------------------------------
 */
header {overflow:hidden}
header > ul > li > a > em {color:red;}
header > a {text-decoration:none;}
/* Make it sticky */
header {position: fixed;top:0;width:100%;text-align:left;} 
header > img, header > p > img, header > ul > li > img {display:inline;padding-right:1em;} 
/*
 * --------------------------------------------------
 * Simplest case: Branded name, nothing else
 * Doesn't act like a link.
 * --------------------------------------------------
 */
header > p {font-size:var(--branding-height);font-weight:var(--branding-weight);display:inline;} 

 
/*
 * --------------------------------------------------
 * If you have more than one item, use an unordered list. 
 * These styles show the first item with branding applied
 * and any number of links following, still slightly
 * larger than body text.
 * --------------------------------------------------
 */
header > ul {line-height:var(--header-height);}
header > ul {margin-left:0;list-style-type:none;display:inline;}
header > ul > li{display:inline;padding-right:1.5rem;font-size:1.25rem;} 
header > ul > li > a,
header > ul > li > a:link,
header > ul > li > a:visited
	{font-weight:bold;text-decoration:none;}
header > ul > li > a:hover,
header > ul > li > a:active
	{text-decoration:underline;}

/*
 * --------------------------------------------------
 * Special feature: First item in list has biggest
 * branding
 * --------------------------------------------------
 */
header > img > p:first-child > a:first-child  {margin-right:3rem;font-size:var(--branding-height);font-weight:var(--branding-weight);padding-right:1rem;text-decoration:none;}

header > ul > li:first-child > a {margin-right:3rem;font-size:var(--branding-height);font-weight:var(--branding-weight);padding-right:1rem;text-decoration:none;}

/* ******************************/
/*  NAVBAR                      */
/* ******************************/

nav > p > a {font-size:1.25em;margin-right:1em;font-weight:var(--branding-weight);}
nav > p {margin-top:0;line-height:var(--nav-height);}
nav > img {display:inline;}
nav > p > a {font-style:normal;}

nav > ul > li {list-style-type:none;} 
nav > ul > li > a,
nav > ul > li > a:link,
nav > ul > li > a:visited {display:inline;text-decoration:none;;} 
/* For accessibility purposes show visual distinction when hovering or active */
nav > ul > li > a:hover,
nav > ul > li > a:active {text-decoration:underline;} 

nav > p > a,
nav > p > a:link,
nav > p > a:visited {display:inline;text-decoration:none;;} 
/* For accessibility purposes show visual distinction when hovering or active */
nav > p > a:hover,
nav > p > a:active {text-decoration:underline;} 


/* ******************************/
/*  ARTICLE-MAIN PORTION OF TEXT*/
/* ******************************/

article > h1,article > h2 {font-weight:var(--branding-weight);}
article > h1 {margin-top:0;margin-bottom:3rem;}
article > li {margin-left:1rem;}
article > h2 {margin-top:4rem;}
article > h4 {font-weight:normal;font-size:1em;margin-bottom:1rem; } /* Byline */
article > h4 > strong {font-weight:bold;} /* Byline */

article > p, 
  article > ul, 
  article > ol, 
  article > li, 
  article > dd, 
  article > dl,
  article > hr {
		font-size:1.5rem;
		line-height:2rem;
		margin-top:1em;
    padding-right:var(--right-end);
}

article > ul, article > ol {margin-top:.5em;padding-left:1em;}
article > p > strong {font-family:var(--informal);font-weight:var(--branding-weight);}
/* Override font rule for code */
article > p > code, article > code, article > pre, article > pre > code {
		font-family:var(--code);
		font-size:1em;
		overflow:auto;
    margin-bottom:0em;
    line-height:1.15em;

		}
article > pre { padding-left: 1em;line-height:1.5em;}
article > p > a,
article > p > a:link,
article > p >  a:visited
	{font-family:var(--informal);text-decoration:underline;}
article > p >  a:hover,
article > p >  a:active
	{text-decoration:none;}

article > table {width:var(--full-page);margin-top:2rem;margin-bottom:3rem;}
article > table > td,th {padding:1rem;}
article > table > tbody > tr > td {padding:1rem;}


/* ******************************/
/*  SIDEBAR (ASIDE TAG)         */
/* ******************************/

aside {border-bottom:none;}

aside > h2 {padding:1em;text-align:center;font-size:1.2rem;font-weight:var(--branding-weight);}
aside > h3 {font-size:.75em;font-weight:bold;margin-bottom:2rem;}
aside > p > img {margin-top:1rem;width:100%;padding:0;}
aside > p {font-size:1.2rem;margin-bottom:0em;}

/* ******************************/
/*  FOOTER                      */
/* ******************************/

footer > h2 {text-align:center;}
footer > table {font-size:calc(80%);}
/* Give table columns to get some breathing room */
footer > table > thead > tr > th {padding-right:2rem;} 
footer > table > thead > tr > th {padding-top:1em;padding-right:2em;padding-bottom:1em;}
footer > table > tbody > tr > td {padding-right:3em;}
footer > table > tbody > tr > td > a:link,
footer > table > tbody > tr > td > a:visited
	{text-decoration:none;}
footer > table > tbody > tr > td > a:hover,
footer > table > tbody > tr > td > a:active
	{text-decoration:underline;}


