/* RESPONSIVE SIZING */
@media (max-width: 1024px) {
html{font-size:16px;}
header,article {width:100%;margin:0;padding-right:1em;padding-left:1em;}
header {position:static;} 
nav,aside,footer {display:none}
article > table, 
  article > table > thead,
  article > table > thead > tr, 
  article > table > thead > tr > th,
  article > table > tbody
    {width:100%;max-width:100%;display:block;} 
article > table {padding:0;margin;10%;margin-top:0;margin-bottom:0;padding-right:10;padding-left:10%;}
 article > table > thead > tr > th {margin-top:2em;}
}
