:root 
{

	/* Maximum characters on a line in an article. 
	 * Has no effect on the width of the column itself. */
	--max-article-width:100%; 

	/* Widest the sidebar should be */
	--max-aside-width:20%;    

	/* Header, nav, and footer stretch all the way across
	 * the screen at 100%. To create a pillar-style theme
	 * (wth gaps aka margins on either side)
	 * reduce that number, then increase --left-gap
	 * and --right-gap. */
	--full-page:100%; 

	/* Making these larger than 0 and --full-page < 100% creates
	 * a pillar theme, or one that doesn't stretch the header
	 * and footer all the way across the page.
	 * When --full-page is 100% these should be at 0.
	 * When --full-page is less than 100% then these
	 * two should add up to the difference. */
	--left-gap:0%;
	--right-gap:0%;

	/* Starting point from left where text (and by default headers) appears */
	--left-start:10%;

	/* Only for Pillar-style themes: Space between the right edge of the article and the right edge of text */
	--right-end:5%;

	/* Adjusts header height and keeps it vertically centered */
	--header-height:5rem;

	/* Size of the main text in the header. */
	--branding-height:2rem;

  /* Weight of the branded text, usually the first item in the header */
  --branding-weight:700;

	/* Adjusts navbar height and keeps it vertically centered */
	--nav-height:5rem;

  --article-padding-top:4rem;
  --article-padding-bottom:2rem;
  --article-margin-top:0rem;
  --article-margin-top:0rem;
  --h1-font-size:2.5rem;
  --h2-font-size:2rem;
  --h3-font-size:1.5rem;
  --h4-font-size:.9rem;
  --h5-font-size:.8rem;
  --h6-font-size:.8rem;
  --h1-margin-top:2rem;
  --h2-margin-top:1.5rem;
  --h3-margin-top:1.5rem;
  --h4-margin-top:1rem;
  --h5-margin-top:0;
  --h6-margin-top:0;
  --h1-margin-bottom:0;
  --h2-margin-bottom:0;
  --h3-margin-bottom:0;
  --h4-margin-bottom:0;
  --h5-margin-bottom:0;
  --h6-margin-bottom:0;
  --h1-padding-top:0;
  --h2-padding-top:0;
  --h3-padding-top:0;
  --h4-padding-top:0;
  --h5-padding-top:0;
  --h6-padding-top:0;
  --h1-padding-bottom:0;
  --h2-padding-bottom:0;
  --h3-padding-bottom:0;
  --h4-padding-bottom:0;
  --h5-padding-bottom:0;
  --h6-padding-bottom:0;

}


