/* IMPORTANT: Downloadable fonts should be imported above this rule  */
:root 
{

	/* ****************/
	/* COLORS         */
	/* ****************/
	/*
	 * Most but not all colors used by a theme appear
	 * in this CSS file as CSS variables, so that you
	 * can make big changes to your theme by doing 
	 * nothing more than altering these values.
	 * 
	 * Text colors use fg, meaning foreground, and
	 * background colors use fg. Sometimes they're
	 * used to color non-text objects, which is why
	 * they aren't called -text or -background.
   *
   * These don't work by themselves. They also need to
   * be connected to their HTML elements, which happens
   * in bind.css.
	 *
	 */

    /* Default foreground (text) and background colors  */
    --fg:black;
    --bg:whitesmoke;
    /* Default link colors */
    --a:darkblue;
    --a-link:var(--a);
    --a-visited:var(--a);
    --a-hover:var(--a);
    --a-active:var(--a);

    
    /* Secondary foreground (text) and background colors for accents. */
    --trim-fg:var(--fg); 
    --trim-bg:var(--bg);

    /* Used for header/logo text colors */
    --branding-fg:darkgreen;
    --branding-bg:var(--bg);
    
    /* Primary foreground (text) and background colors in header */
    --header-fg:var(--fg); 
    --header-bg:var(--bg);
    /* Link colors specific to header */
    --a-header: var(--header-fg); 
    --a-header-link:var(--header-fg);
    --a-header-visited:var(--header-fg);
    --a-header-hover:var(--header-fg); 
    --a-header-active:var(--header-fg);


    /* Primary foreground (text) and background colors in navbar */
    --nav-fg:var(--fg);
    --nav-bg:var(--bg);
    /* Link colors specific to navbar */
    --a-nav:var(--a); 
    --a-nav-link:var(--a);
    --a-nav-visited:var(--a);
    --a-nav-hover:var(--a); 
    --a-nav-active:var(--a);


    /* Default foreground (text) and background colors in article */
    --article-fg:var(--fg);
    --article-bg:var(--bg);
    --article-h1-fg:var(--article-fg);
    --article-h1-bg:var(--article-bg);
    --article-h2-fg:var(--article-fg); 
    --article-h2-bg:var(--article-bg);
    --article-h3-fg:var(--article-fg);
    --article-h3-bg:var(--article-bg);
    --article-h4-fg:var(--article-fg);
    --article-h4-bg:var(--article-bg);
    --article-h5-fg:var(--article-fg);
    --article-h5-bg:var(--article-bg);
    --article-h6-fg:var(--article-fg);
    --article-h6-bg:var(--article-bg);

    /* Link colors specific to article */
    --a-article:var(--a); 
    --a-article-link:var(--a);
    --a-article-visited:var(--a);
    --a-article-hover:var(--a); 
    --a-article-active:var(--a);

        
   /* Default foreground (text) and background colors in aside */
    --sidebar-fg:var(--fg);
    --sidebar-bg:var(--bg);
    /* Link colors specific to sidebar */
    --a-sidebar: var(--a); 
    --a-sidebar-link:var(--a);
    --a-sidebar-visited:var(--a);
    --a-sidebar-hover:var(--a); 
    --a-sidebar-active:var(--a);


    /* Primary foreground (text) and background colors in footer */
    --footer-fg:var(--header-fg);
    --footer-bg:var(--header-bg);
    /* Link colors specific to footer */
    --a-footer:var(--a); 
    --a-footer-link:var(--a);
    --a-footer-visited:var(--a);
    --a-footer-hover:var(--a); 
    --a-footer-active:var(--a);

}

/* HEADER colors */
header > ul > li > a,
header > ul > li > a:link,
header > ul > li > a:visited
	{color:var(--header-fg;)}
header > ul > li > a:hover,
header > ul > li > a:active
	{color:var(--header-fg);}

header > ul > li:first-child > a {color:var(--branding-fg);}
header {border-bottom:1px solid lightgray;}

/* NAVBAR */
nav > p {background-color:var(--nav-bg); }
nav > ul > li > a,
nav > ul > li > a:link,
nav > ul > li > a:visited {color:var(--nav-fg);} 

nav > p > a,
nav > p > a:link,
nav > p > a:visited {color:var(--nav-fg);} 

/* ARTICLE */
article > p > a,
article > p > a:link,
article > p >  a:visited
	{color:var(--trim-fg);}
article > p >  a:hover,
article > p >  a:active
	{color:var(--trim-bg);background-color:var(--trim-fg);}
article > h4 {color:gray;} 
article > h4 > strong {color:var(--fg); } 
article > table > thead > tr > th {color:var(--header-bg);background-color:var(--header-fg);}
article > table > tbody > tr > td {border-bottom:.1px solid gray;}

/* SIDEBAR */
aside > h2 {color:black;background-color:var(--article-bg);}
aside > h3 {color:var(--trim-fg);}
aside > h4 {color:var(--header-bg);background-color:var(--header-fg)}
aside > h3 > del {color:var(--header-bg);} 
aside > h5 {color:red;}
aside > ul {background-color:var(--bg);}
aside > ul li {border-bottom: 1px solid gray;}
aside > ul li a:active, aside > ul li a:hover {
  color:var(--(bg);
}

/* FOOTER */
footer {border-top: 1px solid var(--trim-fg);padding-bottom:1rem;} 
footer > table > thead > tr > th {color:var(--trim-fg);background-color:var(--footer-bg);}
/* Color of links in main rows (body) of table */
footer > table > tbody > tr > td > a:link,
footer > table > tbody > tr > td > a:visited
	{color:var(--header-fg);}
footer > table > tbody > tr > td > a:hover,
footer > table > tbody > tr > td > a:active
	{color:var(--header-fg);}


