/* ****************************/
/*  HEADER BRANDING AND LINKS */
/* ****************************/

header {overflow:hidden;}
/*
 * --------------------------------------------------
 * Simplest case: Branded name, nothing else
 * Doesn't act like a link.
 * --------------------------------------------------
 */
header > p {font-size:var(--branding-height);font-weight:bold;display:inline;} 

/* Special treatment if use emphasis */
header > ul > li > a > em {font-style:normal;position:relative;top:-.25rem;left:-.5rem;color:red;}
 
/*
 * --------------------------------------------------
 * If you have more than one item, use an unordered list. 
 * These styles show the first item with branding applied,
 * any number of links following, still slightly
 * larger than body text, and a last link that
 * looks like a button.
 * --------------------------------------------------
 */
header > ul {margin-left:0;list-style-type:none;display:inline;}
header > ul > li{display:inline;padding-right:1.5rem;font-size:1.25rem;} 
header > ul > li > a,
header > ul > li > a:link,
header > ul > li > a:visited
	{text-decoration:none;}
header > ul > li > a:hover,
header > ul > li > a:active
	{text-decoration:underline;}

/*
 * --------------------------------------------------
 * Special feature: First item in list has biggest
 * branding
 * --------------------------------------------------
 */
header > ul > li:first-child > a {font-size:var(--branding-height);font-weight:bold;padding-right:1rem;}

/* ******************************/
/*  NAVBAR                      */
/* ******************************/

nav {font-weight:bold;}
nav > p {line-height:var(--nav-height);}
nav > img {display:inline;}

nav > ul > li {list-style-type:none;} 
nav > ul > li > a,
nav > ul > li > a:link,
nav > ul > li > a:visited {display:inline;text-decoration:none;} 
/* For accessibility purposes show visual distinction when hovering or active */
nav > ul > li > a:hover,
nav > ul > li > a:active {text-decoration:underline;padding-right:2em;} 

nav > p > a,
nav > p > a:link,
nav > p > a:visited {display:inline;text-decoration:none;padding-right:2em;} 
/* For accessibility purposes show visual distinction when hovering or active */
nav > p > a:hover,
nav > p > a:active {text-decoration:underline;padding-right:2em;} 


/* ******************************/
/*  ARTICLE-MAIN PORTION OF TEXT*/
/* ******************************/

table > thead > tr > th  {margin-top:2rem;}
blockquote {font-style:italic;margin: 2rem 2rem 2rem 2rem;}


article > ul {padding-left:1rem;}
article > p, 
  article > ul, 
  article > ol, 
  article > li, 
  article > dd, 
  article > dl,
  article > hr {
		font-size:var(--p-font-size);
    padding-right:var(--text-end);
    line-height:var(--p-line-height);
}

article > p > img {display:block;width:var(--article-width);}
/* Override font rule for code */
article > p > code, article > code, article > pre, article > pre > code {
		font-family:var(--code);
		font-size:var(--p-font-size);
		overflow:auto;
}

article > h1, article > h2, article > h3 {font-weight:700;)


/* ******************************/
/*  SIDEBAR (ASIDE TAG)         */
/* ******************************/

/* ******************************/
/*  FOOTER                      */
/* ******************************/


